* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 12px;
}
body {
  background-color: rgb(255, 249, 249);
  font-weight: lighter;
  position: relative;
}
.mainnav {
  display: none;
}
.bar {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 0, 0);
  padding: 8px;
  text-align: right;
  box-shadow: 0px 0px 40px #e06c6c;
}
.bar .fa-bars {
  font-size: 25px;
  color: white;
}
.main-nav {
  list-style: none;
  position: sticky;
  z-index: 2;
}
.main-nav li {
  display: none;
  text-align: center;
  transition: all 0.2s ease;
  background-color: rgb(255, 0, 0);
}
.main-nav li:hover {
  background-color: rgb(211, 122, 122);
}
.main-nav li a {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.5s ease;
}
div.bars:hover ~ li {
  display: block;
}
.main-nav:hover li {
  display: block;
}

div.mainheading {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/car1.jpg");
  background-position: center;
  color: white;
  height: 30vh;
  position: relative;
  margin: 0;
  overflow: hidden;
  clear: right;
}
div.mainheading h1 {
  font-size: 4rem;
  text-align: center;
  word-spacing: 1px;
}
div.mainheading h1::first-letter {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(225, 225, 225);
}
div.mainheading h2 {
  font-size: 2rem;
  text-align: center;
  word-spacing: 1px;
}
.search_box {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}
input.searc {
  border: 1.2px solid rgb(255, 0, 0);
  padding: 6px 0px 6px 9px;
  border-radius: 20px;
  color: rgb(120, 120, 120);
  font-size: 0.7rem;
  transition: all 0.6 ease;
  position: relative;
}
input.searc:hover {
  color: rgb(100, 100, 100);
}
.fa-search {
  color: rgb(255, 0, 0);
  font-size: 0.8rem;
  position: absolute;
  top: 0.8rem;
  right: 2rem;
}

div.newestessays {
  background-color: rgb(255, 231, 231);
  padding: 16px 32px;
  display: block;
  text-align: left;
  width: 100%;
  position: relative;
}
div.newestessays h3 {
  margin-top: 25px;
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
}
div.newestessays li {
  list-style: none;
}
div.newestessays li a {
  color: rgb(255, 110, 110);
  text-decoration: none;
}
div.left-side {
  float: left;
  margin-left: 5%;
}
div.right-side {
  display: block;
  clear: left;
  margin-left: 5%;
}
div.newestessays ul li a:hover {
  color: rgb(255, 33, 33);
  transition: all 0.2s ease;
}
.form {
  margin-top: 20px;
  color: rgb(255, 0, 0);
  font-size: 1rem;
  margin-left: 10%;
}
.comment {
  font-weight: bold;
}
label {
  display: block;
  cursor: pointer;
  font-size: 1.5rem;
}
textarea::placeholder {
  color: #e06c6c;
}
textarea {
  max-width: 50vw;
  min-width: 25vw;
  width: 35vw;
  max-height: 25vh;
  min-height: 10vh;
  height: 20vw;
  font-size: 1rem;
  border: 1px solid red;
  background-color: rgb(255, 205, 205);
  margin-left: 10%;
  color: rgb(255, 0, 0);
}
.sub {
  font-weight: bold;
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 5px;
  display: block;
  margin: 1% 0% 3% 55%;
  padding: 4px 8px;
  font-size: 0.7rem;
  background-color: rgb(255, 224, 224);
  transition: all ease-in 0.5s;
}
.sub:hover {
  background-color: rgb(255, 109, 109);
  color: white;
}
/* footer */
.footer {
  background-color: rgb(219, 0, 0);
  padding: 2% 10%;
  font-size: 1rem;
  width: 100%;
  color: white;
}
.footer .sel {
  float: left;
  color: white;
}
.footer .sel a:first-child {
  font-size: 1.7rem;
  color: white;
}
.footer .sel a:hover:first-child {
  color: white;
}
.footer .fnav {
  font-weight: lighter;
  margin-left: 60%;
  color: white;
}
.footer .fnav li {
  list-style: none;
}
.footer a:hover {
  color: rgb(255, 176, 176);
  transition: all 0.4s ease-in;
}

/* focus effect desabling */
textarea:focus,
input:focus {
  outline: none;
}

@media only screen and (min-width: 769px) {
  * {
    margin: 0%;
  }
  .main-nav {
    display: none;
  }
  html {
    font-size: 20px;
  }
  .sub {
    padding: 8px 16px;
  }
  .fa-search {
    top: 8px;
    right: 1rem;
  }
  input.searc:hover {
    font-weight: lighter;
  }
  div.newestessays {
    margin: 0 0 5% 15%;
    background-color: rgb(255, 231, 231);
    width: 70vw;
  }
  div.left-side {
    float: left;
    margin-left: 5%;
  }
  div.right-side {
    margin-left: 5%;
  }
  div.mainheading {
    margin: 0 7%;
    height: 40vh;
  }
  .search_box {
    bottom: 3rem;
    right: 3rem;
  }

  /* laptop navbar */
  .mainnav {
    float: right;
    display: block;
    margin: 1% 7%;
  }
  .mainnav li {
    display: inline-block;
  }
  .mainnav li a {
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    margin-left: 5px;
    font-size: 1rem;
    transition: all 0.5s ease;
  }
  .mainnav li a::first-letter {
    font-size: 1.5rem;
  }
  .mainnav li a:hover {
    border-bottom: 1px solid rgb(255, 0, 0);
  }
  .active {
    border-bottom: 1px solid rgb(255, 0, 0);
  }

  div.newestessays {
    padding: 10px 25px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 420px) {
  html {
    font-size: 9px;
  }
  div.left-side {
    float: none;
    display: block;
  }
  .mainnav {
    display: none;
  }
  .fa-search {
    top: 8px;
    right: 5px;
  }
  div.newestessays {
    padding: 5px 15px;
  }
  .footer {
    font-size: 0.7rem;
  }
  .footer .sel a:first-child {
    font-size: 1.2rem;
  }
  .form {
    font-size: 0.5rem;
  }
}
